<div class="card mb-4">
	<div class="card-body">
		<h5 class="card-title">
			<a href="{{ path('article.show', {id: article.id}) }}">
				Titre :
				{{ article.title }}
			</a>
			{% if article.premium == 1 %}
				<p>Article réservé aux clients premium, ou vous pouvez l'acheter pour 1euro.</p>
				<a href="{{ path('payment', {id: article.id}) }}" class="d-inline-block">
					<button class="btn btn-danger">Payer ou s'abonner</button>
				</a>
			{% endif %}
		</h5>
	</div>
</div>
