<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('article.show', {id: article.id}) }}">
                Titre : {{ article.title }}
            </a>
        </h5>
    </div>
</div>