<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('article.show', {slug: article.slug, id: article.id}) }}">
                Poste: {{ article.title }}
            </a>
        </h5>
    </div>
</div>