{% extends 'base.html.twig' %}

{% block title article.title %}

{% block body %}
	<div class="jumbotron">
		<div class="container">
			<h1 class="text-center mt-5 mb-4">Titre : {{ article.title }}</h1>
			<div class="mt-4">
				<h3 class="text-center">Description de l'article :</h3>
				<p>
					{{ article.description | nl2br }}
				</p>
			</div>
		</div>
	</div>
{% endblock %}
