{% extends 'base.html.twig' %}

{% block title %}Bienvenue!
{% endblock %}

{% block body %}
	<div class="container text-center align-items-center  d-flex h-100">
	<div class="row align-self-center">
		<h1 class="lead">Titre de l'article souhaité : {{title}}</h1>
		<p>
			<a href="{{ path('checkoutPayment', {id: article.id}) }}" class="btn btn-default btn-lg" role="button">Achat de l'article pour 1€</a>
			<a href="{{ path('checkoutSubscription') }}" class="btn btn-default btn-lg" role="button">Abonnement pour 15€/mois</a>
		</p>
	</div>
</div>
{% endblock %}
